includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:
    noModelMake: true
    checkGenericClassInNonGenericObjectType: false
    checkMissingIterableValueType: false
    checkModelProperties: false
    checkOctaneCompatibility: true
    checkMissingCallableSignature: true
    noUnnecessaryCollectionCall: true
    noUnnecessaryCollectionCallOnly: []
    noUnnecessaryCollectionCallExcept: []
    squashedMigrationsPath: []
    databaseMigrationsPath: []
    reportUnmatchedIgnoredErrors: false
    inferPrivatePropertyTypeFromConstructor: true
    universalObjectCratesClasses:
        - Illuminate\Http\Request
        - Illuminate\Support\Optional
        - Illuminate\Support\Str
    earlyTerminatingFunctionCalls:
        - abort
        - dd
    paths:
        - app

    # The level 9 is the highest level
    level: 9

    ignoreErrors:
        - '#Call to an undefined static method .*setHasher\(\)#'
        - '#Call to an undefined static method .*getRoles\(\)#'
        - '#Call to an undefined static method .*findRoleBySlug\(\)#'
        - '#Call to an undefined static method .*findByCredentials\(\)#'
        - '#Call to an undefined static method .*findById\(\)#'
        - '#Call to an undefined static method .*findRoleById\(\)#'
        - '#Call to an undefined static method .*update\(\)#'
        - '#Call to an undefined static method .*findUserById\(\)#'
        - '#Call to an undefined static method .*validateCredentials\(\)#'
        - '#Call to an undefined method .*notify\(\)#'
        - '#Property App\\Models*#'
        - '#Access to an undefined property Cartalyst\\Sentinel*#'
        - '#Cannot access property*#'
        - '#Cannot call method .*save\(\)#'
        - '#Call to an undefined method Cartalyst\\Sentinel*#'
        - '#Cannot call method .*answers\(\)#'
        - '#Cannot call method .*users\(\)#'
        - '#Cannot call method .*courses\(\)#'
        - '#Cannot call method .*course\(\)#'
        - '#Cannot call method .*question\(\)#'
        - '#Cannot call method .*lessons\(\)#'
        - '#Cannot call method .*tests\(\)#'
        - '#Cannot call method .*test\(\)#'
        - '#Cannot call method .*units\(\)#'
        - '#Cannot call method .*inRole\(\)#'
        - '#Cannot call method .*delete\(\)#'
        - '#Cannot call method .*notify\(\)#'

    excludePaths:
        - *.blade.php
    mixinExcludeClasses:
        - Eloquent
